.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "i i i"
    "m m s"
    "m m s";
}

@media screen and (max-width: 800px) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        grid-template-areas: 
        "i i i"
        "m m m"
        "m m s";
    }
    .intro {
        grid-area: i;
    }
    .main {
        grid-area: m;
        background-color: tomato;
    }
    .sidebar {
        grid-area: s;
        background-color: greenyellow;
    }
}

.intro {
    grid-area: i;
    padding: 30px 200px 50px 400px;
    border-style: solid;
    background-image: url(./images/bg1.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: left 30px center;
}

.intro a {
    text-decoration: none;
    color: rgba(236, 107, 129, 0.786);
    font-weight: bolder;
}


.preamble p {
    background-color: rgb(245, 236, 255);
    padding: 20px;
    /* border-style: double;
    border-width: 3px; */
}

.main {
    grid-area: m;
    border-style: solid;
    padding: 30px;
    background-image: url(./images/bg3.avif);
    background-size: 880px;
    background-repeat: no-repeat;
    background-position: left 30px top 300px;
}

.participation {
    padding-top: 700px;
} 

.sidebar {
    grid-area: s;
    border-style: solid;
    padding: 30px;
}

.sidebar a {
    color: rgba(177, 14, 172, 0.768);
    text-decoration: none;
}

.preamble {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "h3 h3 h3"
    "p2 p3 p4 ";
}

.preamble h3 {
    grid-area: h3;
}

.preamble p:nth-child(2) {
    grid-area: p2;
}

.preamble p:nth-child(3) {
    grid-area: p3;
}

.preamble p:nth-child(4) {
    grid-area: p4;
}

.explanation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "h h"
    "ep1 ep2";
}

.explanation h3 {
    grid-area: h;
}

.explanation p:nth-child(2) {
    grid-area: ep1;
}

.explanation p:nth-child(3) {
    grid-area: ep2;
}

.participation a, .requirements a {
    text-decoration: none;
    color: rgba(236, 107, 129, 0.786);
    font-weight: bolder;
}


footer a {
    background-color: rgb(245, 236, 255);
    text-decoration: none;
    /* border-style: double; */
    color: black;
    padding: 20px 50px;
    margin: 30px 50px;
    border-radius: 10%;
    font-weight: bold;
}

footer {
    padding: 60px 0px;
    text-align: center;
}